.App {
  background-color: white;
  min-height: 100vh;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important
}

.App-logo {
  height: 12rem !important;
  pointer-events: none;
}

.App-logo-nac {
  height: 10rem !important;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 420px) {
  * {
    font-family: Roboto, sans-serif !important;
    font-size: 0.8rem !important;
  }

  .class-nac-forms {
    font-size: 0.4rem !important;
    font-family: Roboto, sans-serif !important;
  }

  .class-nac-image {
    width: 3rem !important;
  }

  .Header-Forms {
    font-size: 1.275rem !important;
    font-weight: bold !important;
    font-family: Roboto, sans-serif !important;
  }

  .payment-Forms {
    font-size: 1rem !important;
    font-weight: bold !important;
    font-family: Roboto, sans-serif !important;
  }

  .hide-content {
    display: none;
  }
}

@media only screen and (min-width: 421px) {
  * {
    font-family: Roboto, sans-serif !important;
    font-size: 0.95rem !important;
  }

  .Header-Forms {
    font-size: 1.325rem !important;
    font-weight: bold !important;
    font-family: Roboto, sans-serif !important;
  }

  .payment-Forms {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    font-family: Roboto, sans-serif !important;
  }
}